#não fazer upload de diretorios de comentarios 
comentarios/

#não fazer upload do diretorio util
*.psd

#Não fazer o upload do arquivo stule.all.css
style.all.css

#Não fazer o upload do arquivo core.js
core.js

